body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, #161c91, #4a4de7, #7ea6f4, #a0e4f1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  text-align: center;
}

.home {
  display: block;
  margin: 50px;
}

.home img {
  width: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 10px;
}

.checkbox {
  float: left;
  margin-top: 7px;
}

.agreement {
  margin-left: 25px;
  margin-bottom: 20px;
}

.color {
  color: white;
}

.margin {
  display: flex;
  justify-content: flex-end;
}

.list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.item {
  margin: 20px;
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item img {
  border-radius: 50px;
  object-fit: cover;
}

.item:hover {
  transform: scale(1.05);
}

.margin {
  margin-left: 10px;
  margin-right: 10px;
}

.shadow {
  -webkit-box-shadow: 0px 0px 25px 20px #000000;
  box-shadow: 0px 0px 25px 20px #000000;
}

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.font {
  font-family: "Righteous", cursive;
}
