.App {
  text-align: center;
}

.home {
  display: block;
  margin: 50px;
}

.home img {
  width: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 10px;
}

.checkbox {
  float: left;
  margin-top: 7px;
}

.agreement {
  margin-left: 25px;
  margin-bottom: 20px;
}
